/* Major Colors Variables */

$color-primary: #2CA6BD !default;
$color-secondary: #2CA6BD !default;

// Color White Variables
$color-white: #ffffff !default;

// Color Black Variables
$color-black: #000 !default;
$color-black-100: #373737 !default;

// Color Gray Variables
$color-gray: #f5f5f5 !default;
$color-gray-100: #F1F5F8 !default;

// Color Green Variables
$color-green: #59D8D1 !default;

// Color Blue Variables
$color-blue: #1194F6 !default;

// Color Orange Variables
$color-orange-100: #FA6E3D !default;







